<a href="https://colab.research.google.com/github/DivyanshMishra-2315000780/Python_ML/blob/main/session2_operators_if_else_loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Operators in Python

1. Arithmetic Operators
2. Relational Operators
3. Logical Operators
4. Bitwise Operators
5. Assignment Operators
6. Membership Operators

In [ ]:
# Arithmetric Operators
print(5+6)

print(5-6)

print(5*6)

print(5/2)

print(5//2)

print(5%2)

print(5**2)

11
-1
30
2.5
2
1
25

In [ ]:
# Relational Operators
print(4>5)

print(4<5)

print(4>=4)

print(4<=4)

print(4==4)

print(4!=4)

False
True
True
True
True
False

In [ ]:
# Logical Operators
print(1 and 0)

print(1 or 0)

print(not 1)

0
1
False

In [ ]:
# Bitwise Operators

# bitwise and
print(2 & 3)

# bitwise or
print(2 | 3)

# bitwise xor
print(2 ^ 3)

print(~5)

print(4 >> 2)

print(5 << 2)

2
3
1
-6
1
20

In [ ]:
# Assignment Operators

# =
# a = 2

a = 2

# a = a % 2
a %= 2

# a++ ++a

print(a)

0

In [ ]:
# Membership Operators

# in/not in

print('D' not in 'Delhi')

print(1 in [2,3,4,5,6])

False
False

In [ ]:
# Program - Find the sum of a 3 digit number entered by the user

number = int(input('Enter a 3 digit number : '))

# 345%10 -> 5
a = number%10

number = number//10

# 34%10 -> 4
b = number % 10

number = number//10
# 3 % 10 -> 3
c = number % 10

print(a + b + c)

Enter a 3 digit number : 234
9

#If-else in Python

In [ ]:
# login program and indentation
# email -> nitish.campusx@gmail.com
# password -> 1234

email = input('enter email')
password = input('enter password')

if email == 'nitish.campusx@gmail.com'  and password == '1234' :
  print('Welcome')
elif email == 'nitish.campusx@gmail.com'  and password != '1234' :
  #tell the user
  print('Incorrect Password')
  password = input('enter password again : 3')
  if password == '1234':
    print('Welcome , finally')
  else :
    print('beta tumse naa hopaaega')
else:
  print('Incorrect Password')

enter emailnitish.campusx@gmail.com
enter password1241
Incorrect Password
enter password again : 1234
Welcome , finally

In [ ]:
# if-else examples
# 1. Find the min of 3 given numbers
# 2. Menu Driven Program

In [ ]:
# 1. Find the min of 3 given numbers

a = int(input('Enter 1st number : '))
b = int(input('Enter 2nd number : '))
c = int(input('Enter 3rd number : '))

if a<b and a<c :
  print('smallest is: ' , a)
elif b<a and b<c :
  print('smallest is: ' , b)
else :
  print('smallest is: ' , c)

Enter 1st number : 34
Enter 2nd number : 23
Enter 3rd number : 42
smallest is:  23

In [ ]:
#menu driven calculator
fnum = int(input('enter the 1st number'))
snum = int(input('enter the 2nd number'))

op = input("Enter the Operation")

if op == '+':
  print(fnum + snum)
elif op =='-':
  print(fnum - snum)
elif op == '*':
  print(fnum * snum)
else:
  print(fnum / snum)

enter the 1st number20
enter the 2nd number10
Enter the Operation+
30

In [ ]:
#menu driven 2nd program
menu = input("""
Hi! how can I help you.
1. Enter 1 for pin change
2. Enter 2 for balance check
3. Enter 3 for withdrawl
4. Enter 4 for exit
""")

if menu == '1':
  print('pin change')
elif menu == '2':
  print('balance')
elif menu =='3':
  print("withdrawl")
else:
  print('exit')

Hi! how can I help you.
1. Enter 1 for pin change
2. Enter 2 for balance check
3. Enter 3 for withdrawl
4. Enter 4 for exit
3
withdrawl

# Modules in Python
1. math
2. keywords
3. random
4. datetime

In [ ]:
# math
import math

#math.sqrt(196)
#math.ceil(5.3)
math.log(8)

2.0794415416798357

In [ ]:
# keyword
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
# random
import random
print(random.randint(1,100))

80

In [ ]:
# datetime
import datetime
print(datetime.datetime.now())

2026-01-09 12:56:12.777308

# Loops in Python

1. Need for loops
2. While Loop
3. For Loop

In [ ]:
# While loop example -> program to print the table
# Program -> Sum of all digits of a given number
# Program -> keep accepting numbers from users till he/she enters a 0 and then find the avg

In [ ]:
number = int(input("Enter a number: "))
i=1
while i<11:
  print (number, '*',i,'=',number *i)
  i+=1

Enter a number: 9
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

In [ ]:
# while loop with else

x = 1

while x < 3:
  print(x)
  x += 1

else:
  print('limit crossed')

1
2
limit crossed

In [ ]:
#Guessing game

#generate a random integer between 1 and 100
import random

jackpot = random.randint(1,100)

guess= int(input('guess kaaro : '))
counter = 1
while guess != jackpot :
 if guess < jackpot :
  print('galat!guess higher ')
 else:
  print('galat!guess lower ')

 guess= int(input('guess kaaro : '))
 counter += 1

else:
  print("correct guess")
  print('attempts',counter)

guess kaaro : 34
galat!guess lower
guess kaaro : 23
galat!guess lower
guess kaaro : 2
galat!guess higher
guess kaaro : 4
galat!guess higher
guess kaaro : 7
galat!guess lower
guess kaaro : 6
galat!guess lower
guess kaaro : 5
correct guess
attempts 7

In [ ]:
# For loop demo

for i in {1,2,3,4,5}:
  print(i)

1
2
3
4
5

# Program - The current population of a town is 10000. The population of the town is increasing at the rate of 10% per year. You have to write a program to find out the population at the end of each of the last 10 years.

In [ ]:
curr_pop = 10000

for i in range(10,0,-1):
  print(i,curr_pop)
  curr_pop = curr_pop - 0.1*curr_pop

10 10000
9 9000.0
8 8100.0
7 7290.0
6 6561.0
5 5904.9
4 5314.41
3 4782.969
2 4304.6721
1 3874.20489