<a href="https://colab.research.google.com/github/DivyanshMishra-2315000780/Python_ML/blob/main/session1_python_fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Python Output

In [ ]:
print("Hello World")

Hello World

In [ ]:
print("Divyansh Mishra")

Divyansh Mishra

In [ ]:
print(Divyansh)

NameError: name 'Divyansh' is not defined

In [ ]:
print(4)

4

In [ ]:
print(7.7)

7.7

In [ ]:
print(true)

NameError: name 'true' is not defined

In [ ]:
print(True)

True

In [ ]:
print('Hello',3,35.5,True)

Hello 3 35.5 True

In [ ]:
print('Hello',3,35.5,True,sep='/')

Hello/3/35.5/True

In [ ]:
print("Hello")
print("World")

Hello
World

In [ ]:
print('hello',end='-')
print('world')

hello-world

# 2. Data Types

In [ ]:
#Integer
print(8)
#1*10^308
print(1e308)

8
1e+308

In [ ]:
#Decimal/Float
print(8.55)
print(1.7e309)

8.55
inf

In [ ]:
#Boolean
print(True)
print(False)

True
False

In [ ]:
#Text/String
print("Hello World")

Hello World

In [ ]:
#Complex
print(5+6j)
print(3+4i)

SyntaxError: invalid decimal literal (ipython-input-2514175560.py, line 3)

In [ ]:
#Complex
print(5+6j)

(5+6j)

In [ ]:
#List -> c -> array
print([1,2,3,4,5])

[1, 2, 3, 4, 5]

In [ ]:
#Tuple
print((1,2,3,4,5))

(1, 2, 3, 4, 5)

In [ ]:
#Sets
print({1,2,3,4,5})

{1, 2, 3, 4, 5}

In [ ]:
#Dictionary
print({'name':'Divyansh','gender':'Male','age':"21"})

{'name': 'Divyansh', 'gender': 'Male', 'age': '21'}

In [ ]:
#type
type('23')

str

# 3. Variables

In [ ]:
# Static Vs Dynamic Typing
# Static Vs Dynamic Binding
# stylish declaration techniques

In [ ]:
#c/c++
name = 'Divyansh'
print(name)

a=5
b=6

print(a+b)

Divyansh
11

In [ ]:
a='Ashu'
b= 6
print(a+b)

TypeError: can only concatenate str (not "int") to str

In [ ]:
a='Ashu'
b= 6
print(a,b)

Ashu 6

In [ ]:
#dynamic typing
a = 5
#static typing
int a = 5

In [ ]:
#dynamic binding
a=5
print(a)
a = 'divyansh'
print(a)

5
divyansh

In [ ]:
#python holds dynamic binding java c++ uses static binding

In [ ]:
a=1
b=2
c=3
print(a,b,c)

1 2 3

In [ ]:
a=b=c=5
print(a,b,c)

5 5 5

# Comments

In [ ]:
#this is a comment
#second line
a=4
b=6 #like this
# second comment
print(a+b)

# 4. Keywords and Identifiers

In [ ]:
#keywords
#there are total 32 reserved words

In [ ]:
#Identifiers
#You cannot start with a digit
name1 = 'divyansh'
print(name1)
#You can use special char -> _
_ = 'Divyansh'
print(_)

divyansh
Divyansh

#5. User Input

In [ ]:
# Static vs Dynamic
input('Enter your name')

Enter your nameDivyansh

'Divyansh'

In [ ]:
#take input from users and store them in a variablee
fnum = int(input('enter first number'))
snum = int(input('enter second number'))
#add the 2 variable
result = (fnum) + (snum)
#print the result
print(result)
print(type(result))
print(type(fnum))

enter first number23
enter second number23
46
<class 'int'>
<class 'int'>

#6. Type Conversion

In [ ]:
#Implicit vs Explicit
print(5+5.6)
print(type(5),type(5.6))

print(4+'4')

10.6
<class 'int'> <class 'float'>

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
#Explicit
#str -> int
#type(int('4'))
#int(4+5j)

#int to str
str(5)

#float
float(4)

4.0

#7. Literals

In [ ]:
a = 0b1010 #Binary Literals
b = 100 #Decimal Literal
c = 0o310  #Octal Literal
d = 0x12c #Hexadecimal Literal

#Float Literal
float_1 = 10.5
float_2 = 1.5e2 # 1.5 * 10^2
float_3 = 1.5e-3 # 1.5 * 10^-3

#Complex Literal
x = 3.14j

print(a, b, c, d)
print(float_1, float_2,float_3)
print(x, x.imag, x.real)

10 100 200 300
10.5 150.0 0.0015
3.14j 3.14 0.0

In [ ]:
# binary
x = 3.14j
print(x.imag)

3.14

In [ ]:
string = 'This is Python'
strings = "This is Python"
char = "C"
multiline_str = """This is a multiline string with more than one line code."""
unicode = u"\U0001f600\U0001F606\U0001F923"
raw_str = r"raw \n string"

print(string)
print(strings)
print(char)
print(multiline_str)
print(unicode)
print(raw_str)

This is Python
This is Python
C
This is a multiline string with more than one line code.
ðŸ˜€ðŸ˜†ðŸ¤£
raw \n string

In [ ]:
a = True + 4
b = False + 10

print("a:",a)
print("b:",b)

a: 5
b: 10

In [ ]:
a=None
print(a)

None

In [ ]:
k = None
a = 5
b = 6
print('Program exe')

#8. Operators